@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
:root {
  --primary-color: #007AF3 ;
}

html {
  font-size: 62.5%;
}

body {
  background: #f2f2f2;
  margin: 0;
  padding: 0;
  font-family: Poppins, sans-serif;
}

.navbar {
  background: white;
  padding: 1.6rem;
}
.navbar .logo {
  text-decoration: none;
  font-weight: bold;
  color: black;
  font-size: 1.8rem;
}
.navbar .logo span {
  font-size: 1.9rem;
  color: var(--primary-color);
}
.navbar .logo span:hover {
  color: burlywood;
}
.navbar nav {
  display: none;
}
.navbar .container {
  display: flex;
  justify-content: space-between;
}
.navbar .mobile-menu {
  cursor: pointer;
}
.navbar .mobile-menu:hover {
  height: 2rem;
  width: 2rem;
}

a {
  color: #444444;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

section {
  padding: 5em 2em;
}

.hero {
  text-align: center;
}
.hero .left-col .subhead {
  text-transform: uppercase;
  color: grey;
  letter-spacing: 0.3rem;
}
.hero .left-col h1 {
  font-size: 3rem;
  margin-top: 0.3rem;
  line-height: 4.1rem;
}
.hero .primary-cta {
  background: var(--primary-color);
  color: white;
  text-decoration: none;
  padding: 0.8rem 1.3rem;
  font-size: 1.6em;
  border-radius: 4rem;
  font-weight: bold;
  display: block;
  width: 15.1rem;
  margin: 0rem auto 0rem auto;
}
.hero .primary-cta:hover {
  background: rgb(245, 204, 155);
}
.hero .watch-video-cta {
  display: flex;
  margin-top: 2rem;
  font-size: 1.4rem;
  justify-content: center;
  align-items: center;
}
.hero .watch-video-cta img {
  margin-right: 1rem;
  height: 3rem;
  width: 3rem;
}

.hero-img {
  width: 70%;
  margin-top: 4rem;
}

.features-section {
  background: #20272e;
  color: white;
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.features-section .container ul li {
  box-sizing: border-box;
  font-size: 1.1rem;
  margin-bottom: 1.5rem;
  padding: 1rem;
  margin-left: 2rem;
  position: relative;
}
.features-section .container ul li:before {
  content: "";
  position: absolute;
  width: 2rem;
  height: 2rem;
  background-image: url(./images/bullet.svg);
  background-size: contain;
  margin-right: 0.5rem;
  left: -2rem;
}
.features-section img {
  display: none;
}

.testimonials-section {
  background: var(--primary-color);
  color: white;
  text-align: center;
}
.testimonials-section ul {
  /* display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;
  */
}
.testimonials-section ul li {
  background: #006bd6;
  padding: 2rem 1rem;
  box-sizing: border-box;
  width: 80%;
  margin: 0 auto 4rem auto;
  border-radius: 0.5rem;
}
.testimonials-section img {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  margin-top: -10rem;
  border: 0.05rem solid #006bd6;
}

.contact-left h2 {
  margin-top: -1rem;
  font-size: 2.4rem;
}
.contact-left label {
  display: block;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}
.contact-left input,
.contact-left textarea {
  box-sizing: border-box;
  width: 100%;
  padding: 0.8rem;
  margin-bottom: 0.6rem;
  border-radius: 0.4rem;
  border: 0.1rem solid gray;
}

input[type=submit] {
  background: var(--primary-color);
  color: white;
  font-weight: bold;
  font-size: 1.4rem;
  border: none;
  border-radius: 5rem;
  padding: 0.8rem 2rem;
  width: unset;
  display: inline-block;
  cursor: pointer;
}
input[type=submit]:hover {
  background: rgb(245, 204, 155);
}

nav.menu-btn {
  display: block;
}

nav {
  background: rgba(32, 39, 46, 0.9333333333);
  position: fixed;
  z-index: 999;
  width: 60%;
  top: 0;
  right: 0;
  height: 70vh;
  padding: 1rem;
}
nav .primary-nav {
  margin-top: 5rem;
}
nav li a {
  color: white;
  text-decoration: none;
  display: block;
  box-sizing: border-box;
  padding: 1rem;
  margin: 1rem;
  text-align: right;
}
nav li a:hover {
  font-weight: bold;
  color: burlywood;
}
nav .mobile-menu-exit {
  cursor: pointer;
  display: block;
  float: right;
  margin: 1rem 1rem 0rem 0rem;
  padding-right: 1rem;
  height: 2rem;
  width: 2rem;
}
nav .mobile-menu-exit:hover {
  height: 2.2rem;
  width: 2.2rem;
}

@media only screen and (min-width: 650px) {
  .mobile-menu {
    display: none;
  }
  #mobile-exit {
    display: none;
  }
  .navbar .container {
    display: grid;
    grid-template-columns: 180px auto;
  }
  .navbar .container .logo {
    font-size: 2.5rem;
  }
  .navbar .container .logo span {
    font-size: 2.7rem;
  }
  .navbar .container .logo span:hover {
    color: burlywood;
  }
  .navbar nav {
    display: flex;
    justify-content: space-between;
    background: none;
    position: unset;
    height: auto;
    width: 100%;
    padding: 0;
  }
  .navbar nav ul {
    display: flex;
  }
  .navbar nav a {
    color: black;
    font-size: 1rem;
    padding: 0.1rem 1rem;
  }
}
/*

.hero {
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 5rem;
        text-align: center;

    }
}

--------------------------------
TRY FOR FREE BUTTON!

.hero-cta {
        display: flex;
        flex-direction: column;
        align-items: center;

        .primary-cta {

            height: 4rem;
            width: 16rem;
            margin-bottom: 2rem;
            border-radius: 3.5rem;
            padding-top: 1.5rem;
            background: var(--primary-color);
            color: white;
            font-size: 1.5rem;
            text-decoration: none;
            font-weight: bold;
            letter-spacing: .12rem;
        }
    }

*//*# sourceMappingURL=main.css.map */