@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
    --primary-color: #007AF3
}

html {
    font-size: 62.5%;
}

body {

    background: #f2f2f2;
    margin: 0;
    padding: 0;
    font-family: Poppins, sans-serif;


}

.navbar {
    background: white;
    padding: 1.6rem;

    .logo {
        text-decoration: none;
        font-weight: bold;
        color: black;
        font-size: 1.8rem;


        span {
            font-size: 1.9rem;
            color: var(--primary-color);

            &:hover {
                color: burlywood;
            }
        }
    }

    nav {
        display: none;
    }

    .container {
        display: flex;
        justify-content: space-between;
    }

    .mobile-menu {
        cursor: pointer;

        &:hover {
            height: 2rem;
            width: 2rem;
        }
    }
}

a {
    color: #444444;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

section {
    padding: 5em 2em;
}

.hero {
    text-align: center;

    .left-col {
        .subhead {
            text-transform: uppercase;
            color: grey;
            letter-spacing: .3rem;
        }

        h1 {
            font-size: 3rem;
            margin-top: .3rem;
            line-height: 4.1rem;
        }
    }

    .primary-cta {
        background: var(--primary-color);
        color: white;
        text-decoration: none;
        padding: 0.8rem 1.3rem;
        font-size: 1.6em;
        border-radius: 4rem;
        font-weight: bold;
        display: inline-block;
        width: 15.1rem;
        //margin: 0rem auto 0rem auto; only works on a block

        &:hover {
            background: rgb(245, 204, 155);
        }

    }

    .watch-video-cta {
        display: flex;
        margin-top: 2rem;
        font-size: 1.4rem;
        justify-content: center;
        align-items: center;

        img {

            margin-right: 1rem; // to shift it right a bit
            height: 3rem;
            width: 3rem;

        }
    }

}

.hero-img {
    width: 70%;
    margin-top: 4rem;
}

.features-section {
    background: #20272e;
    color: white;
    padding-top: 4rem;
    padding-bottom: 4rem;

    .container ul {
        // investigate
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));

        li {
            box-sizing: border-box;
            //background-color: burlywood;
            font-size: 1.1rem;
            margin-bottom: 1.5rem;
            padding: 1rem;
            margin-left: 2rem;
            position: relative;

            &:before {
                content: '';
                position: absolute;
                width: 2rem;
                height: 2rem;
                background-image: url(./images/bullet.svg);
                background-size: contain;
                // margin-left: -3rem;
                margin-right: .5rem;
                left: -2rem;
                // padding: .5rem;

            }
        }
    }

    img {
        display: none;
    }
}

.testimonials-section {
    background: var(--primary-color);
    color: white;
    text-align: center;

    ul {
        /* display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
*/

        li {
            background: #006bd6;
            padding: 2rem 1rem;
            box-sizing: border-box;
            width: 80%;
            margin: 0 auto 4rem auto;
            border-radius: .5rem;
            //border: .1rem groove whitesmoke;
        }
    }


    img {
        height: 6rem;
        width: 6rem;
        border-radius: 50%;
        margin-top: -10rem;
        border: .05rem solid #006bd6;

    }
}

.contact-left {


    //background: burlywood;


    h2 {
        margin-top: -1rem;
        font-size: 2.4rem;
    }

    label {
        display: block;
        font-size: 1.5rem;
        margin-bottom: .5rem;
    }

    input,
    textarea {
        box-sizing: border-box;
        width: 100%;
        padding: .8rem;
        margin-bottom: .6rem;
        border-radius: .4rem;
        border: .1rem solid gray;
    }

}

input[type="submit"] {
    background: var(--primary-color);
    color: white;
    font-weight: bold;
    font-size: 1.4rem;
    border: none;
    border-radius: 5rem;
    padding: .8rem 2rem;
    width: unset;
    display: inline-block;
    cursor: pointer;

    &:hover {
        background: rgb(245, 204, 155);
    }
}

// to build out our nav component.
// we comment out our initial nav value

nav.menu-btn {
    display: block; // we set this on script

}

nav {
    background: #20272eee;
    position: fixed;
    z-index: 999;
    width: 60%;
    top: 0;
    right: 0;
    height: 70vh;
    padding: 1rem;


    .primary-nav {

        margin-top: 5rem;
    }

    li a {
        color: white;
        text-decoration: none;
        display: block; // So I can add padding & stuff
        box-sizing: border-box;
        padding: 1rem; // Don't use padding to seprate stuff...
        margin: 1rem;
        text-align: right;

        &:hover {
            font-weight: bold;
            color: burlywood;
        }

    }

    .mobile-menu-exit {
        cursor: pointer;
        display: block;
        float: right;
        margin: 1rem 1rem 0rem 0rem; //had to align with the item margins
        padding-right: 1rem;
        height: 2rem;
        width: 2rem;

        &:hover {
            height: 2.2rem;
            width: 2.2rem;
        }

    }

}

// To make the frontend responsive

@media only screen and (min-width: 740px) {

    .mobile-menu {
        display: none;
    }

    #mobile-exit {
        display: none;
    }

    .navbar .container {
        display: grid;
        grid-template-columns: 180px auto; // wtf happened here?

        .logo {
            font-size: 2.4rem;

            span {

                font-size: 2.6rem;

                &:hover {
                    color: burlywood;
                }
            }
        }


    }



    .navbar nav {
        display: flex;
        justify-content: space-between;
        background: none; // to remove the grey
        position: unset; // because its currently fixed
        height: auto;
        width: 100%;
        padding: 0;

        ul {
            display: flex;
        }

        a {
            color: black;
            font-size: 1.2rem;
            //font-weight: bold;
            padding: .1rem 1rem;
        }

        ul.primary-nav {
            margin-top: 0;
            margin-right: 2rem;
        }

        .go-premium-cta a {
            border: .3rem solid var(--primary-color);
            padding: .3rem 1rem;
            margin: 0.45rem .5rem 0 0.3rem;
            border-radius: 3rem;
            color: var(--primary-color);

            &:hover {
                color: white;
                background: var(--primary-color);
            }
        }
    }
}

@media only screen and (min-width: 900px) {
    .container {
        width: 900px;
        margin: 0 auto;
    }

    section {
        padding: 10rem, 4rem;
    }

    .hero .container {
        display: flex;
        justify-content: space-between;
        text-align: left;

        //align-items: center;
        .left-col {
            margin: 3rem 3rem 0 5rem; // aligning the col with margin.

            h1 {
                width: 80%;
            }

            .hero-cta {
                display: flex;

                .primary-cta {

                    width: unset;
                    height: 2rem;
                    margin-right: 3rem;
                }

                .watch-video-cta {
                    // 1.a
                    display: flex;
                    margin-top: 0rem;

                    img {
                        margin-right: 1rem;
                    }
                }
            }


        }

        .hero-img {
            width: 30%;
            margin-right: 8rem;
        }
    }

    #lists-id {
        display: block;
        margin-left: 5rem;

        li {
            font-size: 1.2rem;

            &:before {
                width: 26px;
                height: 26px;
                background-size: contain;
                //margin-right: 3rem;
                left: -2.5rem;
                top: .5rem;
            }
        }
    }

    .features-section {
        position: relative;

        img {
            position: absolute;
            display: block;
            width: 250px;
            bottom: -2rem;
            right: 0rem;
        }
    }

    .testimonials-section ul {
        display: flex;

        li {
            padding-top: 3rem;
            margin: 0 1rem;
            font-size: 1.5rem; //using font to increase hieght
        }
    }

    .contact-left {
        width: 70%;

        input,
        textarea {
            width: 70%;

        }
    }

}

@media only screen and (min-width: 1080px) {

    .features-section {

        &:before {
            content: '';
            position: absolute;
            width: 10%;
            height: 20rem;
            background: var(--primary-color);
            left: 0;
            top: -4em;
        }

        &:after {
            content: '';
            position: absolute;
            width: 160px;
            height: 15rem;
            background: url('./images/dots.svg') no-repeat;
            left: 4.5rem;
            top: 2rem;
        }
    }
}















// -------------------------------------------------------------
/*
    
1.a{
                //display: block; method 1, but items != aligned.
                display: flex;
                align-items: flex-start;
                justify-content: flex-start;


                img {
                    margin-right: 1.5rem;
                    margin-top: -.7rem;
                }
}
---------------------

.hero {
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 5rem;
        text-align: center;

    }
}

--------------------------------
TRY FOR FREE BUTTON!

.hero-cta {
        display: flex;
        flex-direction: column;
        align-items: center;

        .primary-cta {

            height: 4rem;
            width: 16rem;
            margin-bottom: 2rem;
            border-radius: 3.5rem;
            padding-top: 1.5rem;
            background: var(--primary-color);
            color: white;
            font-size: 1.5rem;
            text-decoration: none;
            font-weight: bold;
            letter-spacing: .12rem;
        }
    }

*/