* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

[class ^="box-"] {
    display: grid;
    place-items: center; // only works on grid
    border: 5px solid rgb(231, 116, 74);
    padding: 10px;
    font-size: 3rem;
    border-radius: 20px;
    // box shadow contains x&y values -investigate
    box-shadow: 0 0 5px rgba(0, 0, 0, 1);
}

main {
    min-height: 100vh;
    padding: 1rem 3rem;
    color: #444444;
    background: linear-gradient(to right top, #426696, #9db6da);

    .container {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        padding: 1rem;

        h2 {
            font-size: 2.5rem;

        }

        ul {
            display: flex;
            margin-top: 1rem;
            //margin-right: 2rem;

            li {
                margin: 0 1rem 0 2rem;
                list-style: none;
                font-size: 1.6rem;

            }
        }
    }

}

.intermediate {
    height: 80vh;
    width: 90%;
    margin: 2rem auto;

    display: grid;
    gap: 1rem; // 10px
}

@media (min-width: 768px) {
    .intermediate {
        height: max-content;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: 100px 80px 300px 80px 100px;

        // start on first line, end on 13th
        .box-1 {
            grid-column: 1/13;
        }

        .box-2 {
            grid-column: 1/13;
        }

        .box-3 {
            grid-column: 1/13;
        }

        .box-4 {
            grid-column: 1/7;
        }

        .box-5 {
            grid-column: 7/13;
        }

        .box-6 {
            grid-column: 1/13;
        }

    }
}

@media (min-width: 1040px) {

    main {
        padding: 3rem 6rem;

    }

    .intermediate {
        height: max-content;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: 100px 400px 100px;

        .box-1 {
            grid-column: 1/13;
        }

        .box-2 {
            grid-column: 1/3;
            grid-row: 2/4;
        }

        .box-3 {
            grid-column: 3/10;
            grid-row: 2/4;
        }

        .box-4 {
            grid-column: 10/13;
            grid-row: 2/4;
        }

        .box-5 {
            grid-column: 1/3;
            grid-row: 4/6;
        }

        .box-6 {
            grid-column: 3/13;
            grid-row: 4/6;
        }
    }

}